# Virtual environment
dbt-env/
venv/

# Python
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/
.dbt/

# OS
.DS_Store
Thumbs.db
.env

# failed tests
tests/tst_stg__skills__url.sql
tests/tst_stg__employees__is_active.sql
